h1 {
    background-color: yellow
}
.heading{
    font-size: 200%;
    background-color: lime;
    display: none;
}
span.heading{
    background-color: orange;
    display:block;
    text-align: center;
}
img {
    background-color: orange;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%
}
